<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jim_bot1">

    <gazebo>
        <plugin name='differential_drive_controller' filename='libgazebo_ros_diff_drive.so'>
       
            <!-- Plugin update rate in Hz -->
            <updateRate>10</updateRate>

            <!-- Wheel Information -->
            <leftJoint>left_wheel_joint</leftJoint>
            <rightJoint>right_wheel_joint</rightJoint>
            <wheelSeparation>0.35</wheelSeparation>
            <wheelDiameter>0.1</wheelDiameter>
    

            <!-- Limits -->
            <wheelTorque>200</wheelTorque>
            <wheelAcceleration>10.0</wheelAcceleration>
    

            <!-- Output -->
            <!-- <odometry_frame>odom</odometry_frame> -->
            <odometryFrame>odom</odometryFrame>

            <!-- <robot_base_frame>base_link</robot_base_frame> -->
            <robotBaseFrame>base_link</robotBaseFrame>
            
            <!-- <publish_odom_tf>true</publish_odom_tf> -->
            <publishOdomTF>true</publishOdomTF>
           
            <!-- <publish_wheel_tf>true</publish_wheel_tf> -->
            <publishWheelTF>true</publishWheelTF>
    
    
        </plugin>
    </gazebo>
</robot>