<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name='differential_drive_controller' filename='libgazebo_ros_diff_drive.so'>
       
            <!-- Plugin update rate in Hz -->
            <updateRate>10</updateRate>

            <!-- Wheel Information -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_diameter>0.1</wheel_diameter>
    

            <!-- Limits -->
            <wheel_torque>200</wheel_torque>
            <wheel_acceleration>10.0</wheel_acceleration>
    

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <odometryFrame>odom</odometryFrame>

            <robot_base_frame>base_link</robot_base_frame>
            <robotBaseFrame>base_link</robotBaseFrame>
            
            <publish_odom_tf>true</publish_odom_tf>
            <publishOdomTF>true</publishOdomTF>
           
            <publish_wheel_tf>true</publish_wheel_tf>
            <publishWheelTF>true</publishWheelTF>
    
    
        </plugin>
    </gazebo>
</robot>